
.checkboxWrapper {
    position: relative;
    display: block;
    overflow: hidden;
}

.check {
    width: 35px;
    height: 35px;
    position: absolute;
    opacity: 0;
}

.label svg {
    vertical-align: middle;
}

.path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: 0.5s stroke-dashoffset;
    opacity: 0;
}

.check:checked+label svg g path {
    stroke-dashoffset: 0;
    opacity: 1;
}

/* You can add more styles as needed */