::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--bs-white);
  border-radius: 1rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-gray-300);
  border-radius: 1rem;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.mw-fit-content {
  max-width: fit-content;
}
.text-ellipsis {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

img {
  font-size: 10px !important ;
}

@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(12px);
  }
  60% {
    transform: translateX(5px);
  }
}

.bounce-right {
  display: inline-block;
  animation: bounceRight 2s infinite;
}
.fs-1rem {
  font-size: 1rem;
}
